a {color: #DE0059; text-decoration: none;}
a:hover {text-decoration: underline;}
#header_link {color: black;}
#header_link:hover {color: #D10054; text-decoration: none;}

::-moz-selection {
  background: #DE0059;
  color     : #ffffff;
}

::selection {
  background: #DE0059;
  color     : #ffffff;
}

body {
  background-image: url('../images/background.png');
  margin: 0px;
  padding: 0px;
}

.forkme_banner {

}

.header {
  font-family: "BlanchCapsInline", sans-serif;
  font-size: 200px;
  text-align: center;
  
  margin-top: -40px;
}

.description {
  font-family: "BlanchCapsInline", sans-serif;
  font-size: 65px;
  text-align: center;
  margin-top: 65px;
}

.links {
  font-family: "BlanchCapsInline", sans-serif;
  font-size: 55px;
  text-align: center;
  margin-top: 30px;
}

hr {
  margin-top: 63px;
  color: black;
}

p {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: center;
}

#source {
  border: solid black;
  border-radius: 7px;
  width: 260px;
  background: black;
  padding: 10px; 
  font-family: "Courier", monospace;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 0px auto;
}

.copyright {
  font-family: "Trebuchet MS", sans-serif;
  font-size  : 15px;
}
